<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment8</title>
    <link rel="stylesheet" href="{{ "/static/cv.css" }}"></head>
<body>
{% extends "cv.html" %}
      {% block Hobbies %}
     {{ super() }}
          {% if user %}
<h4 class="{% if user.age =='28' %} twenty {% else %} older {% endif %}">  {{ user.name| upper }} HOBBIES <br>
      {% for hobby in hobbies %}
          <li>{{ hobby | lower }}</li>
          {% endfor %}

</h4>
          {% endif %}
{% endblock %}
</body>
</html>