<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Assignment11</title>
</head>
<body style="text-align: center; font-family: Calibri">
    <h1>Frontend (fetch function - js):</h1>
    <input name="js" type="number" id="js" placeholder="Enter ID number">
    <button onclick="getUsers()"> ask </button>
        <div> </div>
    <script src="../static/Userslist.js" ></script>

<br>
    <h1>backend (import requests - python)</h1>
    <form name="back_end" method="GET" action="/assignment11/outer_source">
        <input name="id" type="text" id="id" placeholder="enter id to search">
        <input type="submit" value="ask">
    </form>
     <br>
    {% if user != '' and user!= {} %}
        <h2>The user you requested: </h2>
        <h3>User:</h3>
        <p>ID: {{ user.data.id }}</p>
        <p>Email: {{ user.data.email }}</p>
        <p>First Name: {{ user.data.first_name }}</p>
        <p>Last Name: {{ user.data.last_name }}</p>
        <img src="{{ user.data.avatar }}" alt="pic"><br>
    {% endif %}
</body>

</html>